@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: url('img/звезды\ фон.svg');
    background-repeat: repeat;
    background-position: center center;
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.main{
    overflow-y: hidden;
}

.container{
    max-width: 1372px;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 30px;
    z-index: 1000;
    transition: background-color 1s, color 1s;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 24px;
    align-items: center;
    justify-items: center;
    margin: 0 auto; 
}

.logo{
    display: flex;
    flex-direction: row;
}
.logo-link{
    display: flex;
    flex-direction: row;
}
.logo-img{
    width: 34.94px;
    height: 33.05px;
    padding-right: 4px;
}
.logo-text{
    color: white;
    font-weight: bold;
    font-size: 32px;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.menu-item{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.btn{
    animation: animBUT 5s infinite;
    background-color: #136DFF;
    border-radius: 50px;
    color: white;
    padding: 7px 25px;
    border: 0;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
@keyframes animBUT{
    0%{
        background-color: #136DFF;
        color: white;
    }
    25%{
        background-color: #490DFF;
        color: white;
    }
    50%{
        background-color: #D900FF;
        color: white;
    }
    75%{
        background-color: #490DFF;
        color: white;
    }
    100%{
        background-color: #136DFF;
        color: white;
    }
}

header {
    position: fixed;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 30px;
    z-index: 1000;
    transition: background-color 1s, color 1s;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo-link {
    display: flex;
    flex-direction: row;
}

.logo-img {
    width: 34.94px;
    height: 33.05px;
    padding-right: 4px;
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: 32px;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.burger-btn { 
    background-color: transparent;
    border: none;
    padding: 11px 10px;
    display: none; 
    z-index: 1000; 
}

.burger-btn > span {
    margin-bottom: 5px;
    display: block;
    height: 3px;
    width: 20px;
    background-color: #FFF;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%; 
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.menu.active {
    right: 0;  
}

.menu-item {
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 15px 0;
    cursor: pointer;
}

.menu-close {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-conf-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    max-width: 521px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-conf-title{
    color: #390CCA;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 32px;
    padding-top: 45px;
}

.modal-conf-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.checkbox{
    width: 40px;
    height: 20px;
    accent-color: #390CCA;
}


.modal-conf-text{
    color: black;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
}

.modal-conf-btn{
    background-color: #ccc;
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
    border: #ccc 1px solid;
    border-radius: 20px;
    padding: 5px 23px;
    margin-bottom: 56px;
    cursor: not-allowed;
    opacity: 0.6;
    transition: background-color 0.3s ease-out, opacity 0.3; 
}

.modal-conf-btn.active {
    color: #390CCA;
    border: #390CCA 1px solid;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
}

.modal-conf-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.modal-conf-btn.active:hover{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #390CCA;
    border-radius: 20px;
    padding: 5px 23px;
    margin-bottom: 56px;
    cursor: pointer;
}

.banner{
    background-image: url('img/Shine-main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 76px;
    padding-bottom: 31px;
}

.banner-container{
    margin-bottom: 55px;
}

.banner-title {
    position: relative;
    width: 100%; 
    height: 100%; 
}

.banner-title-text {
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 128px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner-smile-content{
    position: relative;
    width: 100%; 
    height: 100%;
    padding-top: 305px;
    padding-bottom: 200px;
}

.banner-eyes{
    display: flex;
    flex-direction: row;
    gap: 100px;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: 377px;
}

.banner-smile{
    display: flex;
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
    top: 438px;
}

.banner-text-content{
    display: flex;
    flex-direction: row;
    gap: 711px;
}

.banner-text-left{
    max-width: 362px;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 112px;
    padding-left: 50px;
}

.banner-text-right{
    max-width: 165px;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

.work {
    width: 100%;
    margin-bottom: 135px;
    position: relative;
    overflow: visible;
}

.shine-work{
    width: 1168px;
    height: 839px;
    position: absolute;
    top: 80px;
    right: 453px;
    z-index: -2;
}

.work-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.work-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0; 
    gap: 30px;
    max-width: 617px;
    padding-bottom: 39.2px;
}

.work-item{
    display: flex;
    flex-direction: column;
}

.work-item-title{
    font-family: "Comfortaa", serif;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: #535353 1px solid;
}
.work-item-text{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 18px;
}

.conf{
    position: relative;
    overflow: visible;
    margin-bottom: 135px;
}

.shine-conf{
    width: 1447px;
    height: 808px;
    position: absolute;
    top: -146px;
    right: -170px;
    z-index: -2;
}

.conf-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.conf-text{
    max-width: 587px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Comfortaa", serif;
    padding-bottom: 61px;
}

.about {
    width: 100%;
    margin-bottom: 135px;
    position: relative;
    overflow: visible;
}

.shine-about{
    width: 1437px;
    height: 602px;
    position: absolute;
    top: -30px;
    right: 254px;
    z-index: -2;
}

.about-title{
    font-size: 50px;
    font-weight: bold;
    font-family: "Comfortaa", serif;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.about-text{
    margin-left: auto;
    margin-right: 0; 
    max-width: 587px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Comfortaa", serif;
    padding-bottom: 60px;
}

footer{
    width: 100%;
    padding-top: 32px;
    padding-bottom: 26px;
    border-top: #535353 1px solid;
    position: relative;
    overflow: visible;
}

.footer-container {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 122px; 
    justify-items: center;
    align-items: center;
    margin: 0 auto; 
}

.footer-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.footer-item-link{
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.footer-social{
    cursor: pointer;
}


@media (max-width: 480px) {
    .container{
        max-width: 450px;
        margin: 0 auto;
    }
    .burger-btn {
        display: block;
    }
    .menu {
        right: -100%;
    }
    .menu.active {
        right: 0;
    }
    .banner-text-content{
        gap: 50px;
    }
    .banner-text-left{
        font-size: 14px;
        padding-top: 12px;
        padding-left: 0;
    }
    .banner-text-right{
        font-size: 14px;
    }
    .banner-container{
        margin-bottom: 0;
    }
    .banner-smile-content {
        padding-bottom: 220px;
    }
    .work {
        margin-bottom: 95px;
    }
    .work-title{
        font-size: 36px;
        padding-bottom: 40px;
    }
    .work-item-title{
        font-size: 20px;
    }
    .work-item-text{
        font-size: 16px;
    }
    .shine-work{
        top: 50px;
        right: -300px;
    }
    .conf {
        margin-bottom: 95px;
    }
    .conf-title{
        font-size: 36px;
        padding-bottom: 40px;
    }
    .conf-text{
        font-size: 16px;
    }
    .shine-conf{
        width: 1147px;
        height: 508px;
        top: -106px;
        right: -170px;
    }
    .about {
        margin-bottom: 70px;
    }
    .about-title{
        font-size: 36px;
        padding-bottom: 40px;
    }
    .about-text{
        font-size: 16px;
    }
    .shine-about{
        width: 1437px;
        height: 602px;
        top: -65px;
        right: -280px;
    }
    footer{
        padding-top: 28px;
        padding-bottom: 22px;
    }
    .footer-container {
        gap: 80px; 
    }
    .footer-item{
        flex-direction: column;
        gap: 20px;
    }
    .footer-item-link{
        font-size: 14px;
    }
    .logo-img {
        width: 31.94px;
        height: 30.05px;
    }
    .logo-text {
        font-size: 28px;
    }
}

@media (min-width: 481px) {
    .burger-btn {
        display: none; 
    }

    .menu {
        position: static; 
        right: 0; 
        width: auto; 
        height: auto; 
        display: flex;
        flex-direction: row; 
        justify-content: flex-start; 
        align-items: center;
        background-color: transparent;
    }

    .menu-item {
        font-size: 20px; 
        margin: 0 20px; 
    }

    .menu-close {
        display: none; 
    }
}

/* стриницы футера */

.main-container{
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 81px;
    padding-top: 99px;
}

.main-text{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 54px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 61px;
    padding-bottom: 61px;
}

.main-item-title{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 29px;
}


.main-item-text{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

ul{
    list-style-type: disc;
    list-style-position: inside;
    color: white;
    padding: 10px;
}

li{
    color: white;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 20px;
}

/* стриница с дашбордом */

.header-dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1100px;
    align-items: center;
    justify-items: center;
    margin: 0 auto; 
}

.main-dashboard {
    background-image: url('img/Shine-main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comfortaa", serif;
    color:white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.window {
    background-color: #000000; 
    border: 3px solid #535353;
    margin: 20px;
    width: 90%; 
    max-width: 1093px; 
    height: auto; 
    max-height: 584px; 
    border-radius: 30px;
    position: relative;
    z-index: 1; 
}

.dashboard-title {
    margin-top: 0;
}

.chats-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #535353;
    padding: 20px;
}

.text{
    padding: 20px;
}

.modal-friend-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    max-width: 533px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.modal-friend-title{
    color: #390CCA;
    font-family: "Comfortaa", serif;
    font-weight: bold;
    font-size: 32px;
    padding-top: 45px;
}

.modal-friend-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.modal-friend-text{
    color: black;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 60px;
    max-width: 346px;
    text-align: center;
}

.modal-friend-img{
    width: 293px;
    height: 280px;
    padding-bottom: 39px;
}

.modal-friend-link{
    color: #390CCA;
    font-weight: bold;
    cursor: pointer;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    opacity: 0.9;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.close {
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #333;
}